.{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.navbar.fixed-top{
    position: fixed;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    overflow: hidden;
    text-align: center;
    display: inline;
    top: 0;
    width: 100%;
    z-index: 10;
    zoom: 1;
}

.navbar.fixed-top a{
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    float: center;
    width: 100%;
}

.navbar.fixed-top a:hover {
    background-color: gainsboro;
    color: black;
    text-decoration: none;
}

.landing {
    /* The image used */
    /*  background-image: url("cppapo/newbuilding.jpg");*/
    background-color: forestgreen;
    z-index: 0;

    /* Full height */
    min-height: 100%;
    position: relative;
    opacity: 0.65;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: white;
}

.centered span.border{
    background-color: wheat;
    color: aqua;
    left: 50%;
    padding; 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.landing_top{
 background-color: transparent;
}

#contact {
	text-align: center;
}

.icons {
	padding: 15px;
	font-size: 40px;
}

.fab:hover {
	opacity: 0.7;
}

.fab {
	padding-left: 15px;
	padding-right: 15px;
}